
/*==================================*/
/*  BASIC SETUP */
/*==================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  font-family: 'Poppins', 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

section {
  padding: 6rem 0;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 600;
}

/*==================================*/
/*  REUSABLE COMPONENTS */
/*==================================*/
/*  icon  */
.about-section .item-icon img, .services-section .item-icon img {
  width: 5.5rem;
  height: 6rem;
}

/*  Paragraph  */
.about-section .item-description, .services-section .item-description {
  font-size: 1.3rem;
  color: #6f6e6e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .01rem;
  text-align: center;
}

/*==================================*/
/*  HEADER SECTION */
/*==================================*/
/*===== Logo Wrapper =====*/
.navigation .logo-wrapper img {
  width: 12rem;
  margin-top: 2.4rem;
}

/*=====Main Menu =====*/
.navigation .menu-bars .menu .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: .5rem 1.5rem;
}

/*===== Banner Area ======*/
header {
  background: url(bg-image/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  height: 100vh;
}

.banner .slider-img {
  width: 35rem;
  height: 30rem;
  margin-top: 3.5rem;
}

/*===== Banner Text =====*/
.banner .banner-text .promo-title {
  margin-top: 7rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.banner .banner-text .promo-describtion, .about-section .promo-describtion {
  font-size: 1.4rem;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: left;
  line-height: 1.6;
  letter-spacing: .1rem;
  margin-top: 2.5rem;
  padding-right: 5.5rem;
}

.banner .banner-text .button-top .btn {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #615f5f;
  background: #fff;
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  margin-top: 4rem;
}

/*==================================*/
/*  ABOUT SECTION */
/*==================================*/
/*===== Heading =====*/
.about-section .section-head, .services-section .section-head {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  width: 100%;
}

.about-section .section-head::after, .services-section .section-head::after {
  content: '';
  background: #e64040;
  display: block;
  width: 6.2rem;
  height: .5rem;
  margin: auto;
}

.about-section .hThree {
  font-size: 2.2rem;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: .1rem;
  margin-top: 7.5rem;
}

.about-section .hFour, .services-section .hFour {
  font-size: 1.6rem;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.about-section .hFive {
  font-size: 1.8rem;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: left;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  padding-right: 10rem;
}

.about-section .arrow .arrow-symbol {
  color: #e95656;
  font-size: 2.2rem;
  text-align: left;
  line-height: 2.8;
}

/*==================================*/
/*  SERVICES SECTION */
/*==================================*/
.services-section .service-description {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  color: #7c7a7a;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  line-height: 1.6;
  letter-spacing: .1rem;
  padding: 0 30rem;
  margin-top: 1.5rem;
}

.services-section .item-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#cc3939), to(#982a2a));
  background: linear-gradient(to bottom, #cc3939, #982a2a);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin: 4.5rem 4rem;
}

.services-section .box {
  padding: 1rem 1.5rem;
  margin-top: 11rem;
  padding: 0 4rem;
}

.services-section .item-box p, .services-section .box p {
  font-weight: 400;
  line-height: 2;
  margin: 1rem 2rem;
}

/*======= HEADER SECTION =======*/
.navigation .menu-bars {
  margin-top: 2rem;
}

.navigation .menu-bars .menu .nav-item {
  margin-left: 1rem;
}

.navigation .menu-bars .menu .searchbar {
  color: #fff;
  font-size: 1.8rem;
}

/*======= BANNER =======*/
.banner .banner-text .button-top .btn-left {
  margin-right: 3.5rem;
}

/*======= ABOUT SECTION =======*/
.about-section .promo-describtion {
  color: #615f5f;
}

.about-section .arrow {
  float: left;
  margin-right: 3rem;
}

.about-section .item-icon img {
  margin-top: 3rem;
}

/*======= SERVICES SECTION =======*/
.services-section .item-icon img {
  margin: 1rem 0;
}

.services-section .item-box h4 {
  color: #fff;
}

.services-section .item-box p {
  color: #fff;
  margin: 2rem 0;
}

.services-section .boxB {
  margin-top: 15rem;
}
/*# sourceMappingURL=main.css.map */